@using Models
@model List<Category>

<div class="card-body p-4">
    <div class="row pb-3">
        <div class="col-6">
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Category" asp-action="Create" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i>  Create New Category
            </a>
        </div>
    </div>
<table id="tblData" class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>Name</th>
            <th>Decription</th>
           
        </tr>
    </thead>
</table>

@section Scripts
{
    <script src="~/js/categories.js"></script>
}