@using Models.ViewModels
@model ProductVM

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Update Product</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post" class="row" enctype="multipart/form-data">
            <input asp-for="@Model.product.Id" hidden></input>
            <div class="row">
                <div class="col-10">
                    <div class="border p-3">
                        <div class="form-floating py-2 col-12">
                            <input asp-for="product.Title" class="form-control border-0 shadow" />
                            <label asp-for="product.Title" class="ms-2"></label>
                            <span asp-validation-for="product.Title" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <input asp-for="product.Author" class="form-control border-0 shadow" />
                            <label asp-for="product.Author" class="ms-2"></label>
                            <span asp-validation-for="product.Author" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <input asp-for="product.Description" class="form-control border-0 shadow" />
                            <label asp-for="product.Description" class="ms-2"></label>
                            <span asp-validation-for="product.Description" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <input asp-for="product.ISBN" class="form-control border-0 shadow" />
                            <label asp-for="product.ISBN" class="ms-2"></label>
                            <span asp-validation-for="product.ISBN" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <input asp-for="product.Price" class="form-control border-0 shadow" />
                            <label asp-for="product.Price" class="ms-2"></label>
                            <span asp-validation-for="product.Price" class="text-danger"></span>
                        </div>

                        <!-- Dropdown za kategoriju -->
                        <div class="form-floating py-2 col-12">
                            <select asp-for="product.CategoryId" asp-items="@Model.CategoryList" class="form-control border-0 shadow">
                                <option disabled selected>---Select category---</option>
                            </select>
                            <label asp-for="product.CategoryId" class="ms-2"></label>
                            <span asp-validation-for="product.CategoryId" class="text-danger"></span>
                        </div>

                        <div class="form-floating py-2 col-12">
                            <input type="file" name="file" asp-for="product.ImageUrl" class="form-control border-0 shadow" />
                            <label asp-for="product.ImageUrl" class="ms-2"></label>
                        </div>

                        <div class="row pt-3">
                            <div class="col-6 col-md-3 mb-2">
                                <button type="submit" class="btn btn-primary form-control">Update product</button>
                            </div>
                            <div class="col-6 col-md-3 mb-2">
                                <a asp-controller="Product" asp-action="DisplayProducts" class="btn btn-outline-primary border form-control">
                                    Back to List
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-2">
                    <img src="@Model.product.ImageUrl" width="100%" style="border-radius:5px; border:1px solid #bbb9b9">
                </div>
            </div>

        </form>
    </div>
</div>
